.carousel {
  .imgWrapper {
    height: 400px;
    .imgContainer {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .image {
        object-fit: contain;
        height: 100%;
        width: 100%;

      }
    }
  }
}
.nextArrowContainer, .prevArrowContainer{
  text-align: center;
}