$sub-button-base-color: #47be20;
$sub-button-base-color-hover: #48cb1e;
$unsub-button-base-color: #26a911;
$unsub-button-base-color-hover: #2dc715;
.subscribe-community-button{
     background-color: $sub-button-base-color;
     border-color:$sub-button-base-color;
     &:hover, &:focus,:active{
          background-color: $sub-button-base-color-hover;
          border-color:$sub-button-base-color-hover;
     }
}
.unsubscribe-community-button{
     color: $unsub-button-base-color;
     border-color: $unsub-button-base-color;
     &:hover, &:focus,:active{
          color: $unsub-button-base-color-hover;
          border-color: $unsub-button-base-color-hover;
     }
}

$login-popover-background: rgb(246, 243, 243);
$login-popover-box-shadow:rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;

.login-popover {

     .ant-popover-inner {
          box-shadow: $login-popover-box-shadow;
          background: $login-popover-background;
     }

     .ant-popover-arrow-content {
          box-shadow: $login-popover-box-shadow;
          background: $login-popover-background;
     }

}
