.list {
  margin-top: 50px;
  padding: 0 20px !important;

  .list_item {
    background: white;
    padding: 3% !important;


    -webkit-box-shadow: 0 0 13px 6px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0 0 13px 6px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0 0 13px 6px rgba(34, 60, 80, 0.2) inset;
  }

  .list__item__meta {

  }
}

