$fontStyle: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$appBackground:rgb(192, 222, 237);

body{
     padding: 0;
     margin: 0;
     overflow-x: hidden;
}

.appLayout {
     min-height: 100vh ;
     padding-bottom: 10px;
     background: $appBackground;
     .contentLayout{
          max-width: 900px;
          margin: 15px auto 0;

          .postsLayout{

          }
     }
}
